<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
    <filter>
        <filter-name>oracle.jbo.server.svc.ServiceContextFilter</filter-name>
        <filter-class>oracle.jbo.server.svc.ServiceContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>oracle.jbo.server.svc.ServiceContextFilter</filter-name>
        <url-pattern>/WorkforceReputationService</url-pattern>
        <url-pattern>/WorkforceReputationService/secure</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImplWSForward</display-name>
        <servlet-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImplWSForward</servlet-name>
        <servlet-class>oracle.j2ee.ws.server.WSForwardServlet</servlet-class>
        <init-param>
            <param-name>to</param-name>
            <param-value>/WorkforceReputationService</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImpl</servlet-name>
        <servlet-class>oracle.j2ee.ws.server.provider.ProviderServlet</servlet-class>
        <init-param>
            <param-name>Oracle.JAX-WS.EjbLink</param-name>
            <param-value>ejb/oracle.apps.hcm.hwr.coreService.WorkforceReputationServiceBean</param-value>
        </init-param>
        <init-param>
            <param-name>Oracle.JAX-WS.ServiceEndpointBean</param-name>
            <param-value>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImpl</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImpl</servlet-name>
        <url-pattern>/WorkforceReputationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImplWSForward</servlet-name>
        <url-pattern>/WorkforceReputationService/secure</url-pattern>
    </servlet-mapping>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>oracle.apps.hcm.hwr.coreService.applicationModule.server.WorkforceReputationServiceImpl</web-resource-name>
            <url-pattern>/WorkforceReputationService/secure</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <ejb-ref>
        <ejb-ref-name>ejb/oracle.apps.hcm.hwr.coreService.WorkforceReputationServiceBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <remote>oracle.apps.hcm.hwr.coreService.WorkforceReputationService</remote>
        <ejb-link>oracle.apps.hcm.hwr.coreService.WorkforceReputationServiceBean</ejb-link>
    </ejb-ref>
</web-app>
